.container {
	padding: 20px;
}

// Profit Calculator
.pageHeader {
	border-bottom: solid 1px #bfbfbf;
	margin-bottom: 16px;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 10;
	padding: 16px;
}
